/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2024, 1:50:30 PM
    Author     : ADMIN
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

 :root {
    --text-01: #45413E;
    --light-01: #F9F9F9;
    --light-02: #FFFFFF;
    --brand-01: #DB7F67;
    --brand-02: #F4CFC6;
    --card-hover: 0px 4px 24px rgba(0, 0, 0, 0.15);
    --card-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    --hover-timing: all 0.2s ease;
}

body {
    display: flex;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1rem;
    color: var(--light-01);
    overflow: hidden;
    transition: all 0.5s linear;
    background: #F4CFC6;
}


/* dong mo navbar */

.sidebar:hover {
    width: 250px;
    transition: 0.5s;
}

.menu i,
.menu span {
    font-size: 16px;
    font-weight: 500;
}

.logo {
    height: 80px;
    padding: 16px;
}

.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 0.5rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
    background: var(--brand-01);
}

.menu a {
    color: #45413E;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span {
    overflow: hidden;
}

.menu a i {
    font-size: 1.2rem;
}


/*Main body*/

.main-content {
    position: relative;
    background: #F9F9F9;
    width: 100%;
    padding: 1rem;
}

.header-wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #F4CFC6;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header-title {
    color: palevioletred;
}

.user-info {
    display: flex;
    align-items: center;
    gap: rem;
}

.search-box {
    background: #F9F9F9;
    border-radius: 15px;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}

.search-box input {
    background: transparent;
    padding: 8px;
    color: #45413E;
}

.search-box i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.search-box i:hover {
    transform: scale(1.2);
}


/* card container */

.card-container {
    background: #eeeee6;
    padding: 2rem;
    border-radius: 10px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-title {
    color: var(--text-01);
    padding-bottom: 10px;
}

.payment-card {
    border-radius: 10px;
    padding: 1.2rem;
    width: 276px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.payment-card:hover {
    transform: translateY(-5px);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.amount {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 12px;
    font-weight: 200;
    color: #45413E;
}

.title1 {
    font-size: 12px;
    font-weight: 200;
    color: #F9F9F9;
}

.amount-value {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: #45413E;
}

.amount-value1 {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: #F9F9F9;
}

.icon1 {
    color: #543C44;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 50%;
}

.icon2 {
    color: #F6AE6C;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 50%;
}

.icon3 {
    color: cadetblue;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 50%;
}

.icon4 {
    color: #C79896;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 50%;
}

.card-detail {
    font-size: 16px;
    color: #45413E;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}

.card-detail1 {
    font-size: 16px;
    color: #45413E;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    color: #F9F9F9;
}


/* color CSS */

.light-brown {
    background: linear-gradient(45deg, #543C44 0%, #976C5B 100%);
}

.light-yellow {
    background: linear-gradient(45deg, #F6AE6C 0%, #ECBD73 100%);
}

.light-green {
    background: linear-gradient(45deg, #45828C 0%, #A7D4D8 100%);
}

.light-pink {
    background: linear-gradient(45deg, #C79896 0%, #DAB7B6 100%);
}

.circle-box {
    background: #eeeee6;
}


/* table */

.tabular-wrapper {
    background: #eeeee6;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.table-container {
    width: 100%;
}

.table-container table {
    border-radius: 24px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #5A9A8E;
    color: #F9F9F9;
}

th {
    padding: 15px;
    text-align: center;
}

tbody {
    background: #ECBD73;
}

td {
    padding: 2px;
    font-size: 14px;
    color: var(--text-01);
    text-align: center;
}

tr:nth-child(even) {
    background: #EDDAA9;
}

.Id {
    padding-left: 25px;
}

.table-container button {
    background: none;
    cursor: pointer;
}

.table-container .bxs-edit {
    color: #5A9A8E;
    font-size: 24px;
}

.table-container .bx-trash {
    color: var(--brand-01);
    font-size: 24px;
}

.add {
    /*căn chính giữa*/
    text-align: center;
    margin-bottom: 20px;
}

.add button {
    background: #ECBD73;
    border: 0;
    border-radius: 12px;
    color: #45413E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    font-weight: 700;
}

.add button:hover {
    transition: all 0.2s ease;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
    color: #fff;
    background-color: var(--brand-01);
}

.bxs-x-circle {
    cursor: pointer;
    padding-left: 320px;
}

.form-add {
    width: 350px;
    padding: 10px;
    margin: 10px auto;
}

.form-content {
    background-color: #F4CFC6;
    padding: 20px 35px;
    border-radius: 24px;
}

.form-input {
    margin-top: 8px;
}

.form-input input,
.form-input textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #45413E;
}

.form-input input:focus,
.form-input textarea:focus {
    border: 2px solid #ECBD73;
}

.form-input input:valid,
.form-input textarea:valid {
    border: 1px solid #5A9A8E;
}

.form-content label {
    font-size: 14px;
    color: #45413E;
}

.check-sale {
    display: flex;
    margin-bottom: 14px;
    align-items: center;
    margin-top: 8px;
    border: none;
    margin-right: 150px;
    padding-right: 20px;
}

.check-sale label {
    /*Để những label - tên thẳng hàng*/
    width: 100px;
    font-size: 14px;
}

.add_finish button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: #45413E;
    background-color: #ECBD73;
    cursor: pointer;
}

.add_finish button:hover {
    color: #fff;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
    background-color: var(--brand-01);
}

.checkbox-wrapper-31:hover .check {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.checkbox-wrapper-31 .background {
    fill: #fff;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
}

.checkbox-wrapper-31 input[type=checkbox]:hover {
    cursor: pointer;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .background {
    fill: #5A9A8E;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .stroke {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .check {
    stroke-dashoffset: 0;
}

.show {
    display: none;
}


/* upload file */

.file-upload {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 20px;
}

.file-upload .file-select {
    border: 2px solid #fff;
    color: #45413E;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.file-upload .file-select .file-select-button {
    background: #dce4ec;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.file-upload .file-select:hover {
    border-color: #5A9A8E;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
    background: #5A9A8E;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
    border-color: #5A9A8E;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
    background: #3fa46a;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled [type=file] {
    opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover [type=file] {
    cursor: default;
    display: block;
    border: 1px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button [type=file] {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name[type=file] {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}